@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --bg-light-blue: hsla(227, 60%, 97%, 1);
    --bg-dark-blue: #0A3871;
    --text-dark-blue: #0A3871;
    --text-white: #FFFFFF;
    --text-light-gray: #495057;
    --decoder-btn: hsla(214, 26%, 88%, 1);
    --text-dark-gray: #343A40;
} 

* {
    font-family: "Inter", sans-serif;
}
body {
    background-color: var(--bg-light-blue);
    box-sizing: border-box;
}
nav {
    padding: 16px;
}
section {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    padding: 0 1rem;
}
.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1140px;
}
.card-requisitos {
    width: 70%;
    margin: 5rem 1rem 0 0;
}
.textarea-requisitos{
    background-color: transparent;
    width: 100%;
    height: 700px;
    border: none;
    padding: 0.5rem 0 0 0.5rem;
}
.requisitos-container{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.imagem-requisitos {
    width: 16px;
    height: 16px;
    margin-right: 0.625rem;
}
.btns-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.btn-cripto {
    width: 100%;
    height: 67px;
    margin: 10px 0;
    border-radius: 24px;
    background-color: var(--bg-dark-blue);
    color: var(--text-white);
    font-size: 1.8rem;
    cursor: pointer;
}
.btn-cripto:hover {
    color: var(--bg-dark-blue);
    background-color: transparent;
}
.btn-descripto {
    width: 100%;
    height: 67px;
    margin: 0.62rem 0 0 1.5rem;
    font-size: 1.8rem;
    border-radius: 24px;
    background-color: var(--bg-light-blue);
    color: var(--text-dark-blue);
    border: 1px solid var(--bg-dark-blue);
    margin-left: 1.5rem;
    cursor: pointer;
}
.btn-descripto:hover {
    color: var(--text-white) ;
    background-color: var(--bg-dark-blue);
}

.card-mensagem {
    width: 30%;
    
    background-color: #fff;
    padding: 0.7rem;
    border-radius: 32px;
}

.mensagemOculta{
    display: none;
}

.mostraMensagemVazia{ 
    position: absolute;
    width: 336px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*left: 62%;*/
    bottom: -110px;
    gap: 1rem; 
}
.mostraMensagemVazia img {
    width: 336px;
    height: 304px;
}
.mostraMensagemVazia h3{
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    color: var(--text-dark-gray);
}

.mostraMensagemVazia p{   
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    color: var(--text-light-gray);
}
.textarea-mensagem {
    width: 93%;
    height: 944px;
    border: none;
    border-radius: 2.5rem;
    padding: 0.8rem;

}
.ocultarBtn{
    display: none;
}
#copiarBtn {
    background: transparent;
    color: var(--text-dark-blue);
    border: 2px solid var(--text-dark-blue);
    position: relative;
    bottom: 100px;
    left: 15%;
    width: 75%;
    height: 67px;
    border-radius: 1.5rem;
    cursor: pointer;
}
#copiarBtn:hover {
    color: #fff;
    background-color: var(--bg-dark-blue);
}
footer {
    width: 100%;
    height: 100%;
    background-color: var(--bg-dark-blue);
}
.container-footer {
    display: flex;
    justify-content: space-evenly;
}
.conteudo-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.62rem;
    font-size: 1.4rem;
    color: var(--text-white);
    
}
.footer-dev p {
    padding: 1rem 0;  
}
.footer-dev span {
    background-color: var(--text-dark-gray);
    border-radius: 0.3rem;
    padding: 0.3rem;
}
.footer-dev span:hover {
    background-color: var(--text-light-gray);
    color: var(--text-white);
}
.footer-dev a {
    text-decoration: none;
    color: var(--text-white);
}


@media screen and (max-width: 960px){

    section {
        flex-direction: column;
    }
    .card-requisitos {
        width: 100%;
        margin: 1.5rem 0 ;
    }
    .card-mensagem {
        width: 100%;
        height: 100%;
        padding: 0;
    }
    .mensagem {
        padding: 0.3rem;
    }
    .mostraMensagemVazia {
        width: 100%;
        bottom: unset;
        
    }
    .textarea-mensagem {
        height: 450px;
    }
}

@media screen and (max-width: 480px){


    .btns-container {
        flex-direction: column;
    }
    .btn-cripto {
        font-size: 1.2rem;
    }
    .btn-descripto {
        margin: 0.62rem 0 0 0;
        font-size: 1.2rem;
    }
    .mostraMensagemVazia {
        bottom: -100%;;
        left: -1px;
    }
    .mostraMensagemVazia img {
        display: none;
    }
    .mostraMensagemVazia h3 {
        font-size: 1.2rem;
    }
    .conteudo-footer {
        font-size: 1.2rem;
        align-items: unset;
    }

}